<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/icon.ico">
    <title>@ViewData["Title"] | Level Learn</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

        <link href="~/css/icons.css" rel="stylesheet" />
        <link href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />

        <link href="~/myLib/pnotify/dist/PNotifyBrightTheme.css" rel="stylesheet" />

        <link href="~/lib/select2/dist/css/select2.css" rel="stylesheet" />

        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/css/icons.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/myLib/pnotify/dist/PNotifyBrightTheme.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/lib/select2/dist/css/select2.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    @RenderSection("css", required: false)
</head>
<body>

    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">
                <div class="logo">
                    <a href="/Game" class="logo">
                        <img src="~/images/brand-logo.png" class="logo-cabecalho" alt="Alternate Text" />
                    </a>
                </div>
                <div class="navbar-custom">
                    <div id="navigation">
                        <ul class="navigation-menu">
                            <li class="has-submenu">
                                <a asp-controller="Instituicoes" asp-action="Index">
                                    <span><i class="fa fa-university "></i></span><span> Instituição </span>
                                </a>
                            </li>
                            <li class="has-submenu">
                                <a asp-controller="Cursos" asp-action="Index">
                                    <span><i class="fa fa-graduation-cap"></i></span><span> Cursos </span>
                                </a>
                            </li>
                            <li class="has-submenu">
                                <a asp-controller="Turmas" asp-action="Index">
                                    <span><i class="fa fa-user-graduate"></i></span><span> Turmas </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="menu-extras topbar-custom">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">
                        <li class="menu-item">
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="~/images/monstro-pacman.png" alt="user" class="rounded-circle"> <span class="ml-1 pro-user-name">@User.Identity.Name <i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <a href="/Usuarios/Logout" class="dropdown-item notify-item">
                                    <i class="ti-power-off"></i> <span>Sair</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>

    </header>

    <div class="wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-12">
                        <div>
                            <strong>Level Learn</strong> - Copyright © 2016 - @DateTime.Now.Year
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">

        <script src="~/js/modernizr.min.js"></script>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/myLib/pnotify/dist/iife/PNotify.js"></script>
        <script src="~/myLib/pnotify/dist/iife/PNotifyButtons.js"></script>

        <script src="~/lib/select2/dist/js/select2.js"></script>
        <script src="~/lib/select2/dist/js/i18n/pt-BR.js"></script>

        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/jquery.app.js"></script>
        <script src="~/js/jquery.core.js"></script>
        <script src="~/js/Common/preloader.js"></script>
        <script src="~/js/Common/notificacao.js"></script>
        <script src="~/js/Common/dataTable.js"></script>
        <script src="~/js/Common/botao.js"></script>
        <script src="~/js/Common/crudBase.js"></script>
        <script src="~/js/Common/selectConfig.js"></script>
        <script src="~/js/Common/datepickerConfig.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/js/modernizr.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

        <script src="~/myLib/pnotify/dist/iife/PNotify.js" asp-append-version="true"></script>
        <script src="~/myLib/pnotify/dist/iife/PNotifyButtons.js" asp-append-version="true"></script>

        <script src="~/lib/select2/dist/js/select2.js" asp-append-version="true"></script>
        <script src="~/lib/select2/dist/js/i18n/pt-BR.js" asp-append-version="true"></script>

        <script src="~/js/jquery.slimscroll.js" asp-append-version="true"></script>
        <script src="~/js/jquery.app.js" asp-append-version="true"></script>
        <script src="~/js/jquery.core.js" asp-append-version="true"></script>
        <script src="~/js/Common/preloader.js" asp-append-version="true"></script>
        <script src="~/js/Common/notificacao.js" asp-append-version="true"></script>
        <script src="~/js/Common/dataTable.js" asp-append-version="true"></script>
        <script src="~/js/Common/botao.js" asp-append-version="true"></script>
        <script src="~/js/Common/crudBase.js" asp-append-version="true"></script>
        <script src="~/js/Common/selectConfig.js" asp-append-version="true"></script>
        <script src="~/js/Common/datepickerConfig.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
